body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  /*max-width: 1080px;*/
}

.LoginContainer{
  font-family: Poppins;
  max-width: fit-content;
  margin: auto auto;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

#bdo-logo img{
  width: 347px;
  padding-bottom: 90px;


}

.logintext{
  font-weight: bold;
  letter-spacing: 1px;
  align-self: flex-start;
  padding-bottom: 25px;
  font-size: 28px;
}

label{
  font-family: Poppins, serif;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type=email] {
  max-width: 400px;
  width: 400px;
  padding: 12px 20px;
  margin: 10px 0 35px;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}


input[type=password] {
  max-width: 400px;
  width: 400px;
  padding: 12px 20px;
  margin: 10px 0 35px;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid lightgrey;

  border-radius: 5px;
}

input[type=button] {
  max-width: 400px;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;

  background-color: #26348c;
  color: white;
  border-radius: 5px;
  font-family: Poppins, serif;
  border: none;
}


input[type=button]:hover{
  background-color: #3137af;
}

input[type=email]:hover,
input[type=email]:focus,
input[type=email]:active,
input[type=password]:hover,
input[type=password]:focus,
input[type=password]:active {
  border: 2px solid #d1e9ff;
  box-shadow: 0 0 10px #d1e9ff;
  outline: none;
}

